<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Load</title>
    <style type="text/css">
        TABLE {
            background: white; /* Цвет фона таблицы */
            color: white; /* Цвет текста */
        }
        TD, TH {
            background: cornflowerblue; /* Цвет фона ячеек */
            padding: 10px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
    <h1>Input employee surname and name</h1>
    <form action="#" th:action="@{/finding}" th:object="${employee}" method="post">
        <table>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{surname}"/></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
        </table>
        <p><input type="submit" value="Find"/></p>
    </form>

    <div>
        <table cellpadding="4" cellspacing="1">
            <tr>
                <th>ID</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Company</th>

            </tr>
            <tr th:each="employ: ${emps}">
                <td th:text="${employ.id}" />
                <td th:text="${employ.surname}" />
                <td th:text="${employ.name}" />
                <td th:text="${employ.middleName}" />
                <td th:text="${employ.age}" />
                <td th:text="${employ.salary}" />
                <td th:text="${employ.email}" />
                <td th:text="${employ.companyName}" />

            </tr>
        </table>
    </div>

    <p><a href="/index">Back to main page</a></p>

</body>
</html>
